
.icon-steering:before { content: '\e800'; } /* '' */
.icon-hammer-screwdriver:before { content: '\e801'; } /* '' */
.icon-ammunition:before { content: '\e802'; } /* '' */
.icon-seat-passenger:before { content: '\e803'; } /* '' */
.icon-ship-wheel:before { content: '\e804'; } /* '' */
