{% macro vehicle_grid(vehicles) -%}
<div class="box">
    <div class="columns is-multiline">
        <div class="column p-1"><span class="icon"><i class="icon icon-steering"></i></span>= Crewman seats.</div>
        <div class="column p-1"><span class="icon"><i class="icon icon-seat-passenger"></i></span>= Passenger seats.</div>
        <div class="column p-1"><span class="icon"><i class="icon icon-ammunition"></i></span>= Default ammunition points.</div>
        <div class="column p-1"><span class="icon"><i class="icon icon-hammer-screwdriver"></i></span>= Default construction points.</div>
        <div class="column p-1"><span class="icon"><i class="icon icon-ship-wheel"></i></span>= Amphibious.</div>
    </div>
</div>
<div class="columns is-multiline">
    {% for vehicle in vehicles %}
    <div class="column is-one-fifth">{{ card(vehicle) }}</div>
    {% endfor %}
</div>
{% endmacro %}

{% macro card(vehicle) %}
<div class="card">
    <div class="card-image">
        <a href="{{ url_for('show_vehicle_details', id=vehicle.id) }}">
        <figure class="image is-16by9">
            {% set imgfile = 'img/vehicles/%s/%s-small.jpg' % (vehicle.class, vehicle.id) %}
            <img
            src="{{ url_for('static', filename=imgfile)}}"
            alt="{{ vehicle.name }}"
            />
        </figure>
        </a>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p>
                    <span class="title is-6">
                        <a href="{{ url_for('show_vehicle_details', id=vehicle.id) }}"><span class="searchable">{{ vehicle.name }}</span></a>
                    </span>
                    {% if vehicle.amphibious %}
                    <span class="icon">
                        <i class="icon icon-ship-wheel"></i>
                    </span>
                    {% endif %}
                </p>
                <p class="subtitle is-7">
                {{ vehicle.class_name }}
                </p>
            </div>
        </div>
        <div class="content">
            <div class="columns is-mobile is-multiline has-text-centered">
                <div class="column">
                    <span class="icon">
                        <i class="icon icon-steering"></i>
                    </span> {{ vehicle.crew }}
                </div>
                <div class="column">
                    <span class="icon">
                        <i class="icon icon-seat-passenger"></i>
                    </span> {{ vehicle.passengers }}
                </div>
                <div class="column">
                    <span class="icon">
                        <i class="icon icon-ammunition"></i>
                    </span> {{ vehicle.ammo_points }}
                </div>
                <div class="column">
                    <span class="icon">
                        <i class="icon icon-hammer-screwdriver"></i>
                    </span> {{ vehicle.construction_points | default("-", boolean=True)}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
