{% macro navbar(factions, vehicle_classes) -%}
<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item has-text-weight-bold has-text-warning-light has-background-dark">Squad Vehicle Reference</div>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Faction Vehicles</a>
        <div class="navbar-dropdown">
          {% for faction in factions %}
          <a href="{{ url_for('show_faction_vehicles', faction=faction['id']) }}" class="navbar-item">{{ faction['name'] }}</a>
          {% endfor %}
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Vehicle Classes</a>
        <div class="navbar-dropdown">
          {% for klass in vehicle_classes %}
          <a href="{{ url_for('show_vehicle_class', klass=klass['id']) }}" class="navbar-item">{{ klass["name"] | plural}}</a>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</nav>
{%- endmacro %}