{% macro armament_table(vehicle) -%}
<table class="table is-striped is-bordered is-fullwidth is-narrow">
    <thead>
        <tr class="has-background-info-dark">
            <th>Name</th>
            <th>Model & Caliber</th>
            <th>Rounds</th>
        </tr>
    </thead>
    <tbody>
        {% for weapon in vehicle["armaments"] %}
        <tr>
            <td>{{ weapon["name"] }}</td>
            <td>{{ weapon["model"] }}, {{ weapon["caliber"] }}</td>
            <td>
                {% if weapon["ammo"]["rounds"] is defined %}
                    {{ weapon["ammo"]["rounds"] }}
                {% else %}
                    {% for option in weapon["ammo"]["options"] %}
                        {% if option.get("description") %}
                    <div>{{ option["name"] }} <abbr title="{{ option['description'] }}">{{ option["type"] }}</abbr>: {{ option["rounds"] }}</div>
                        {% else %}
                    <div>{{ option["name"] }} {{ option["type"] }}: {{ option["rounds"] }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%- endmacro %}
