{% from 'components/navbar.html.j2' import navbar %}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='defend.ico') }}">
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
        >
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/fontello.css')}}"
        >
        <title>{% block title %}{% endblock %}Squad Vehicle Reference</title>
        {% block head %}{% endblock %}
    </head>
    <body>
    {{ navbar(factions,vehicle_classes) }}
    <section class="section">{% block content %}{% endblock %}</section>

    <footer class="footer p-4">
        <div class="content has-text-centered">
            <p>
                Built with <strong>Bulma</strong>.
                Flag images from the <a href="https://squad.fandom.com/wiki/Squad_Wiki">Squad Wiki</a>, <a href="https://creativecommons.org/licenses/by-nc-sa/4.0//">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>

    {% block bottomjs %}{% endblock %}
    </body>
</html>
