{% extends "layout.html.j2" %}

{% from "components/grid.html.j2" import vehicle_grid %}

{% block title %} - {{ current_faction["name"] if current_faction is defined else (current_class["name"] | plural) }}{% endblock %}

{% block content %}
<div class="container">

<div class="columns">
    {% if current_faction is defined %}
    <div class="column">
        <div style="width: 6rem">
            <figure class="image is-2by1">
                <img src="{{ url_for('static', filename='img/faction-flags/' + current_faction['id'] + '.png') }}" />
            </figure>
        </div>
    </div>
    {% else %}
    <div class="column">
        <div style="width: 3rem">
            <figure class="image is-square">
                <img src="{{ url_for('static', filename='img/vehicle-class-icons/' + current_class['id'] + '.png') }}" />
            </figure>
        </div>
    </div>
    {% endif %}
    <div class="column is-full">
        <h2 class="title is-2">{{ current_faction["name"] if current_faction is defined else (current_class["name"] | plural) }}</h2>
    </div>
</div>
<div class="block">
<input class="input table-search" type="text" placeholder="Vehicle name" />
</div>
{{ vehicle_grid(vehicles) }}

</div>
{% endblock %}


{% block bottomjs %}
<script src="https://cdn.jsdelivr.net/npm/cash-dom/dist/cash.min.js"></script>
<script src="{{ url_for('static', filename='js/vehicle-page.js') }}"></script>
{% endblock %}
